{% load static %}
<!DOCTYPE html>
<html>
    <head>
    {% comment %} cargar libreria de bootstrap {% endcomment %}
        {% load bootstrap4 %}

        {% comment %} archivos estaticos {% endcomment %}
        {% load static %}

        {% comment %} archivos estaticos {% endcomment %}
        {% bootstrap_css %}


        <meta charset="utf-8" />
        <title>Nomipro</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

        <!-- App css -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/icons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />

        <script src="{% static 'js/modernizr.min.js' %}"></script>

    </head>

    <body>

        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container-fluid">

                    <!-- Logo container-->
                    <div class="logo center">
                        <!-- Text Logo -->
                        <!--<a href="index.html" class="logo">-->
                            <!--<span class="logo-small"><i class="mdi mdi-radar"></i></span>-->
                            <!--<span class="logo-large"><i class="mdi mdi-radar"></i> Adminto</span>-->
                        <!--</a>-->
                        <!-- Image Logo -->
                        <a href="{% url 'index' %}" class="logo">
                            <img src="{% static 'images/users/avatar-11.jpg' %}"  height="40" class="logo-small rounded-circle">
                            <img src="{% static 'images/users/avatar-11.jpg' %}"  height="35" class="logo-large rounded-circle">
                        </a>
                        
                    </div>
                    <!-- End Logo container-->


                    <div class="clearfix"></div>

                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->

            <div class="navbar-custom">
                <div class="container-fluid">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">
                            <li class="has-submenu">
                                <a href="#"><i class="fa fa-user-circle-o"></i><span> Gestion empleados </span> </a>
                                <ul class="submenu">
                                    <li><a href="{% url 'Empleado_lista' %}">Empleado</a></li>
                                    <li><a href="{% url 'Cargo_lista' %}">Cargo</a></li>
                                    <li><a href="{% url 'Tipo_vinculacion_lista' %}">Tipo vinculacion</a></li>
                                </ul>
                            </li>

                            <li class="has-submenu">
                                <a href="#"><i  class=" mdi mdi-alarm-snooze"></i> <span> Gestion de tiempos </span> </a>
                                <ul class="submenu">
                                    <li><a href="{% url 'Parafiscales_lista' %}">Parafiscales</a></li>
                                    <li><a href="{% url 'Detalle_parafiscales_lista' %}">Detalle parafiscales</a></li>
                                    <li><a href="{% url 'Reporte_horas_lista' %}">Reporte horas</a></li>
                                    <li><a href="{% url 'Detalle_horas_lista' %}">Detalle horas</a></li>
                                    <li><a href="{% url 'Horas_extras_lista' %}">Horas extras</a></li>
                                </ul>
                            </li>

                            <li class="has-submenu">
                                <a href="#"><i class=" mdi mdi-currency-usd"></i><span> Administrar nomina </span> </a>
                                <ul class="submenu">
                                    <li><a href="{% url 'Nomina_lista' %}">Nomina</a></li>
                                    <li><a href="{% url 'Periodo_lista' %}">Periodo</a></li>
                                </ul>
                            </li>

                            <li class="has-submenu">
                                <a href="#"><i class=" mdi mdi-currency-usd"></i><span> Opciones </span> </a>
                                <ul class="submenu">
                                    <li><a href=" {% url 'login' %}" ><i class=" dripicons-user"></i> Login </a></li>
                                    <li><a href="{% url 'logout' %}"><i class="mdi mdi-power"></i> Logout </a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- End navigation menu -->
                    </div> <!-- end #navigation -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->
        <br><br><br><br><br>
                            <li class="list-inline-item">
                                <h4 class="page-title">Nomipro</h4>
                            </li>

        <div class="content container">
            <div class="row">
            <div class="col-md-10">
            {% block content %}
            {% endblock %}
            </div>
            </div>
            <br><br><br><br><br>
            <br><br><br><br><br>

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        2020 - 2020 © Nomipro. Coderthemes.com
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->



        <!-- jQuery  -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/detect.js' %}"></script>
        <script src="{% static 'js/fastclick.js' %}"></script>
        <script src="{% static 'js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'js/waves.js' %}"></script>
        <script src="{% static 'js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'js/jquery.core.js' %}"></script>
        <script src="{% static 'js/jquery.app.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>


    </body>
</html>
