{% extends 'base/base.html' %}
{% load static %}


{% block title %}
Nomipro
{% endblock %}

{% block content %}<br><br><br><br><br>
<div class="row justify-content-center">
<div class="col-md-6 col-xl-6 col-lg-6 creative personal photography ">
                                    <div class="gal-detail thumb">
                                        <a href="{% static 'images/gallery/3.jpg' %}" class="image-popup" title="Screenshot-2">
                                            <img src="{% static 'images/gallery/12.jpg' %}" class="thumb-img" alt="work-thumbnail">
                                        </a>
                                        <h4>proyecto nomipro</h4>
                                        <p class="text-muted">
                                            Se a desarrolado un proyecto con esfuerzo y dedicacion, falta por hacer algunos ajustes 
                                            pero estamos bien en el proceso.
                                        </p>
                                    </div>
                                </div>
                                </div>

                                

{% endblock %}

